/***************** CONTACT PAGE STYLING ************************/
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/***************** FOOTER BREADCRUMBS ************************/
ol.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ol.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ol.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}
ol.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ol.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

